@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext);

.box-header .box-tools a {
    color: #ffffff;
}

#delete-item{
    display: none;
}

table.table-hover tbody tr{
    cursor: pointer;
}